.main-wrapper {
  max-width:1000px;
  margin: 0 auto;
  color: black


}
h1 {color: black}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
  margin: 30px auto;
  text-align:center;
  border: 5px solid crimson;
  border-radius: 5px;
  padding-bottom: 30px;
 
}

.editor {
  background-color: crimson;
  margin-top:30px;
  padding: 60px;
  border-radius: 5px;
  color: white;
  
}
button {
    height: 40px;
    width:120px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

}

.timer {
  margin-top:30px;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 30px;
  border-radius: 5px;
  color: white;

}
.task {
  border: 1px solid black;
  border-radius: 8px;
  padding:30px;
  color: black;


}
label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  align-items: center;
}
input { margin-left: 20px; width:300px; height:40px;   border-radius: 5px;}



.progress-bar {
  border: 1px solid white;
  border-radius: 5px;
  height: 25px;
  width:200px;
  margin-bottom: 20px;
  padding: 5px;
}

.progress-bar > div {
  height: 100%;
  width: 25%;
  background-color: white;
}

.buttons-wrapper {
  display: flex;
  padding: 10px;
}

.inactive {
  filter: blur(2px) grayscale(1)
}

.login-form {
  border: 5px solid black;
  width: 80%;
  padding:30px;
  margin: 50px auto;
  border-radius: 5px;
}
.login-error {
  font-size: 20px;
  color: crimson;
  border: 5px solid crimson;
  padding: 30px;
  font-weight:600;
  text-align:center;
  border-radius: 5px;
}



